<template>
  <div>
    <admin-title-bar v-bind:email="email" />
    <admin-sidebar v-bind:menus="menus" :alternatemenus="alternatemenus" />
    <div id="container">
      <router-view />
    </div>
    <admin-detail-bar v-show="getStatus" />
  </div>
</template>
<script>
import AdminTitleBar from "@/components/AdminTitleBar.vue";
import AdminSidebar from "@/components/AdminSidebar.vue";
import AdminDetailBar from "@/components/AdminDetailBar.vue";

export default {
  name: "Admin",
  components: {
    AdminTitleBar,
    AdminSidebar,
    AdminDetailBar
  },
  data() {
    return {
      email: this.$store.getters.getEmail,
      menus: [
        {
          title: "Penerimaan",
          alias: "penerimaan",
          active: true
        },
        {
          title: "Turn Over Ratio",
          alias: "turnoverratio",
          active: false
        },
        {
          title: "Level Persediaan",
          alias: "persediaan",
          active: false
        },
        {
          title: "Pengeluaran",
          alias: "pengeluaran",
          active: false
        },
        {
          title: "Service Level",
          alias: "servicelevel",
          active: false
        }
      ],
      alternatemenus: [
        {
          title: "Issuing Letter",
          alias: "issuing",
          active: false
        },
        {
          title: "MO Status SWH",
          alias: "mostatus",
          active: false
        },
        {
          title: "Multisource",
          alias: "multisource",
          active: false
        },
        {
          title: "Improvement",
          alias: "improvement",
          active: false
        },
        {
          title: "Jadwal Patroli",
          alias: "patrol",
          active: false
        },
        {
          title: "Agenda",
          alias: "agenda",
          active: false
        },
        {
          title: "Karyawan Tersafety",
          alias: "safetyaward",
          active: false
        }
      ]
    };
  },
  computed: {
    getStatus() {
      return this.$store.getters.getShowDetail;
    }
  }
};
</script>
<style lang="sass" scoped>
  $primaryColor : #00B2FF
  $secondaryColor: #848484
  $backgroundColor : #EDEDED
  $shadowColor : #CCCCCC
  $white : #FFFFFF
  #container
    background-color: $white
    padding: 20px
    position: absolute
    top: 70px
    left: 340px
    right: 20px
    border-radius: 10px
    box-shadow: 5px 5px 5px $shadowColor
</style>
