<template>
  <div>
    <div>
      <h1>{{ title }}</h1>
      <h3>{{ lastUpdated }}</h3>
    </div>
    <img src="../assets/logo.png" />
    <div id="charts" class="slides">
      <ul>
        <li>
          <a v-on:click="setActiveGraph(penerimaan)">
            <ChartNumber v-bind:property="penerimaan" />
          </a>
        </li>
        <li>
          <a v-on:click="setActiveGraph(turnoverratio)">
            <ChartGauge v-bind:property="turnoverratio" />
          </a>
        </li>
        <li>
          <a v-on:click="setActiveGraph(persediaan)">
            <ChartPie v-bind:property="persediaan" />
          </a>
        </li>
        <li>
          <a v-on:click="setActiveGraph(pengeluaran)">
            <ChartNumber v-bind:property="pengeluaran" />
          </a>
        </li>
        <li>
          <a v-on:click="setActiveGraph(penerimaanpengeluaran)">
            <ChartColumn v-bind:property="penerimaanpengeluaran" />
          </a>
        </li>
        <li>
          <a v-on:click="setActiveGraph(servicelevel)">
            <ChartGauge v-bind:property="servicelevel" />
          </a>
        </li>
      </ul>
    </div>
    <!-- <div id="table" class="slides">
      <IssuingTable :data="issuing" />
    </div>-->
    <div class="slides">
      <ul>
        <li>
          <MoStatus :statuses="mostatuses" :completeness="completeness" />
        </li>
        <li>
          <Multisource :data="multisources" />
        </li>
        <li>
          <Improvement :data="improvements" />
        </li>
        <li>
          <Patrol :data="patrols" />
        </li>
        <li>
          <Agenda :data="agendas" />
        </li>
        <li>
          <Award :data="awards" />
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
import MoStatus from "@/components/MoStatus.vue";
import Multisource from "@/components/Multisource.vue";
import Improvement from "@/components/Improvement.vue";
import Agenda from "@/components/Agenda.vue";
import Patrol from "@/components/Patrol.vue";
import Award from "@/components/Award.vue";
import ChartNumber from "@/components/ChartNumber.vue";
import ChartColumn from "@/components/ChartColumn.vue";
import ChartPie from "@/components/ChartPie.vue";
import ChartGauge from "@/components/ChartGauge.vue";
// import IssuingTable from "@/components/IssuingTable.vue";

export default {
  name: "Dashboard",
  components: {
    ChartNumber,
    ChartColumn,
    ChartPie,
    ChartGauge,
    // IssuingTable,
    MoStatus,
    Multisource,
    Improvement,
    Agenda,
    Patrol,
    Award
  },
  data() {
    let penerimaan = {
      chartType: "chartNumber",
      title: "Penerimaan (USD)",
      startDate: "2018-11-10",
      endDate: "2018-12-10",
      value: 814567,
      data: []
    };
    let turnoverratio = {
      chartType: "chartGauge",
      title: "Turn Over Ratio",
      minValue: 0,
      maxValue: 100,
      value: 57,
      data: []
    };
    let persediaan = {
      chartType: "chartPie",
      title: "Level Persediaan (USD)",
      sliceName: "USD",
      values: [1, 7, 4],
      keys: ["apple", "orange", "melon"],
      data: []
    };
    let pengeluaran = {
      chartType: "chartNumber",
      title: "Pengeluaran (USD)",
      startDate: "2018-11-10",
      endDate: "2018-12-10",
      value: 814567,
      data: []
    };
    let penerimaanpengeluaran = {
      chartType: "chartColumn",
      title: "Penerimaan-Pengeluaran",
      categories: ["jan", "feb", "mar"],
      col1Name: "Penerimaan",
      col1Data: [5, 7, 8],
      col2Name: "Pengeluaran",
      col2Data: [6, 4, 9],
      data: []
    };
    let servicelevel = {
      chartType: "chartGauge",
      title: "Service Level",
      minValue: 0,
      maxValue: 100,
      value: 57,
      data: []
    };
    let issuing = [];
    let bulan = [
      "Januari",
      "Februari",
      "Maret",
      "April",
      "Mei",
      "Juni",
      "Juli",
      "Agustus",
      "September",
      "Oktober",
      "November",
      "Desember"
    ];
    let now = new Date();
    return {
      penerimaan: penerimaan,
      turnoverratio: turnoverratio,
      persediaan: persediaan,
      pengeluaran: pengeluaran,
      penerimaanpengeluaran: penerimaanpengeluaran,
      servicelevel: servicelevel,
      issuing: issuing,
      slideIndex: 0,
      title: "Spare Part Warehouse (SWH) Dashboard",
      lastUpdated:
        now.getDate() + " " + bulan[now.getMonth()] + " " + now.getFullYear(),
      fetched: [],
      agendas: [],
      patrols: [],
      improvements: [],
      completeness: [],
      mostatuses: [],
      multisources: [],
      awards: []
    };
  },
  methods: {
    setActiveGraph(data) {
      let mutated = data;
      mutated.height = 400;
      mutated.hideTitle = true;
      this.$store.commit("setActiveGraph", mutated);
      this.$router.push("detail");
    },
    carousel() {
      let i = 0;
      let x = this.$el.getElementsByClassName("slides");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      this.slideIndex++;
      if (this.slideIndex > x.length) {
        this.slideIndex = 1;
      }
      x[this.slideIndex - 1].style.display = "block";
      setTimeout(this.carousel, 5000);
    },
    getStartDate(data) {
      return data[0].tgl;
    },
    getEndDate(data) {
      return data[data.length - 1].tgl;
    },
    getLatestMonth() {
      let bulan = [
        "Januari",
        "Februari",
        "Maret",
        "April",
        "Mei",
        "Juni",
        "Juli",
        "Agustus",
        "September",
        "Oktober",
        "November",
        "Desember"
      ];
      let splitted = this.penerimaan.endDate.split("-");
      return bulan[splitted[1] - 1];
    },
    getLatestYear() {
      let splitted = this.penerimaan.endDate.split("-");
      return splitted[0];
    },
    getLatestData(data) {
      return data[data.length - 1].nilai;
    },
    getCategories(data) {
      let categories = [];
      let sorted = this.sortByKey(data, "kategori", "asc");
      for (let i = 0; i < sorted.length - 1; i++) {
        if (sorted[i].kategori === sorted[i + 1].kategori) {
          categories.push(sorted[i].kategori);
        }
      }
      return categories;
    },
    getCategorizedValues(categories, data) {
      let res = [];
      for (let i = 0; i < categories.length; i++) {
        let categorized = this.filterByKey("kategori", categories[i], data);
        let sorted = this.sortByKey(categorized, "tgl", "desc");
        res.push(sorted[0].nilai);
      }
      return res;
    },
    getPercentages(array) {
      let sum = 0;
      let res = [];
      for (let i = 0; i < array.length; i++) {
        sum += array[i];
      }
      for (let i = 0; i < array.length; i++) {
        let percentage = Math.round((array[i] / sum) * 100);
        res.push(percentage);
      }
      return res;
    },
    getValues(data) {
      let res = [];
      for (let i = 0; i < data.length; i++) {
        res.push(data[i].nilai);
      }
      return res;
    },
    getMonths(data) {
      let res = [];
      let months = [
        "jan",
        "feb",
        "mar",
        "apr",
        "mei",
        "jun",
        "jul",
        "agu",
        "sep",
        "okt",
        "nov",
        "des"
      ];
      for (let i = 0; i < data.length; i++) {
        let tgl = data[i].tgl.split("-");
        let bulan = parseInt(tgl[1]) - 1;
        res.push(months[bulan]);
      }
      return res;
    },
    async setPenerimaan() {
      let data = await this.getChartApi("chart", "penerimaan");
      this.penerimaan.value = this.getLatestData(data);
      this.penerimaan.startDate = this.getStartDate(data);
      this.penerimaan.endDate = this.getEndDate(data);
      this.penerimaan.data = data;
    },
    async setTurnOverRatio() {
      let data = await this.getChartApi("chart", "turnoverratio");
      this.turnoverratio.value = this.getLatestData(data);
      this.turnoverratio.data = data;
    },
    async setPersediaan() {
      let data = await this.getChartApi("chart", "persediaan");
      let keys = this.getCategories(data);
      this.persediaan.keys = keys;
      this.persediaan.values = this.getPercentages(
        this.getCategorizedValues(keys, data)
      );
      this.persediaan.data = data;
    },
    async setPengeluaran() {
      let data = await this.getChartApi("chart", "pengeluaran");
      this.pengeluaran.value = this.getLatestData(data);
      this.pengeluaran.startDate = this.getStartDate(data);
      this.pengeluaran.endDate = this.getEndDate(data);
      this.pengeluaran.data = data;
    },
    async setPenerimaanPengeluaran() {
      let penerimaan = await this.getChartApi("chart", "penerimaan");
      let pengeluaran = await this.getChartApi("chart", "pengeluaran");
      let merged = this.mergeTwoArrays(penerimaan, pengeluaran);
      this.penerimaanpengeluaran.data = merged;
      this.penerimaanpengeluaran.categories = this.getMonths(penerimaan);
      this.penerimaanpengeluaran.col1Data = this.getValues(penerimaan);
      this.penerimaanpengeluaran.col2Data = this.getValues(pengeluaran);
    },
    async setServiceLevel() {
      let data = await this.getChartApi("chart", "servicelevel");
      this.servicelevel.value = this.getLatestData(data);
      this.servicelevel.data = data;
    },
    async setIssuing() {
      let data = await this.getIssuingApi();
      this.issuing = data;
    },
    getYYYYMMDD() {
      let today = new Date();
      let dd = today.getDate();
      let mm = today.getMonth() + 1; //January is 0!

      let yyyy = today.getFullYear();
      if (dd < 10) {
        dd = "0" + dd;
      }
      if (mm < 10) {
        mm = "0" + mm;
      }
      dd = "06";
      return yyyy + "-" + mm + "-" + dd;
    },
    async setAgenda() {
      let data = await this.getAgenda(this.getYYYYMMDD());
      this.agendas = data;
    },
    async setPatrol() {
      let data = await this.getPatrol(this.getYYYYMMDD());
      this.patrols = data;
    },
    async setImprovement() {
      let data = await this.getImprovement(this.getYYYYMMDD());
      this.improvements = data;
    },
    async setCompleteness() {
      let data = await this.getCompleteness(this.getYYYYMMDD());
      this.completeness = data;
    },
    async setMoStatus() {
      let data = await this.getMoStatus(this.getYYYYMMDD());
      this.mostatuses = data;
    },
    async setMultisource() {
      let data = await this.getMultisource(this.getYYYYMMDD());
      this.multisources = data;
    },
    async setAward() {
      let data = await this.getAward();
      this.awards = data;
    },
    mergeTwoArrays(a, b) {
      let res = [];
      for (let i = 0; i < a.length; i++) {
        res.push(a[i]);
      }
      for (let i = 0; i < b.length; i++) {
        res.push(b[i]);
      }
      return res;
    },
    fetchAllData() {
      this.setPenerimaan();
      this.setTurnOverRatio();
      this.setPersediaan();
      this.setPengeluaran();
      this.setPenerimaanPengeluaran();
      this.setServiceLevel();
      this.setIssuing();
      this.setAgenda();
      this.setImprovement();
      this.setCompleteness();
      this.setMoStatus();
      this.setMultisource();
      this.setPatrol();
      this.setAward();
    }
  },
  mounted() {
    this.carousel();
    this.fetchAllData();
    setInterval(() => {
      this.fetchAllData();
    }, 5000);
  }
};
</script>

<style lang="sass" scoped>
h1
  color: #848484
  font-weight: 1200
  margin: 0px
  margin-left: 20px
  text-align: left
h3
  color: #848484
  margin: 0px
  margin-left: 20px
  text-align: left
img
  height: 48px
  position: absolute
  top: -10px
  right: 40px
  background-color: #ffffff
  padding: 20px
  border-radius: 10px
  box-shadow: 5px 5px 5px #cccccc
ul
  margin-left: -40px
  a
    text-decoration: none
    cursor: pointer
  li
    width: 30%
    height: 300px
    display: inline-block
    vertical-align: top
    background-color: #ffffff
    margin: 10px
    padding: 10px
    overflow: hidden
    border-radius: 10px
    list-style: none
    box-shadow: 5px 5px 5px #cccccc
#charts
  display: block
#table
  display: none
  padding: 30px
  margin: 20px
  border-radius: 10px
  background-color: #ffffff
  box-shadow: 5px 5px 5px #cccccc
</style>
