<template>
  <div>
    <h1><font-awesome-icon icon="arrow-left" v-on:click="goBack" /> {{ data.title }}</h1>
    <img src="../assets/logo.png"/>
    <div id="content">
      <ul>
        <li :active="menu.active" v-bind:key="menu.id" v-for="menu in menus" v-on:click="selectTab(menu.id)">
          {{ menu.title }}
        </li>
      </ul>
      <font-awesome-icon icon="download" id="downloadIcon" />
      <div v-if="activeItem === 1">
        <DynamicChart v-bind:data="data" v-bind:type="chart"/>
      </div>
      <div v-if="activeItem === 2">
        <ChartTable/>
      </div>
    </div>
  </div>
</template>
<script>
import DynamicChart from '@/components/DynamicChart'
import ChartTable from '@/components/ChartTable'
export default {
  name: 'Detail',
  components: {
    DynamicChart,
    ChartTable
  },
  data () {
    let chartType = this.$store.getters.getChartType
    chartType = chartType.charAt(0).toUpperCase() + chartType.slice(1)
    let data = this.$store.state.activeGraph
    return {
      chart: chartType,
      data: data,
      menus: [
        {
          id: 1,
          title: 'grafik',
          active: true
        },
        {
          id: 2,
          title: 'tabel',
          active: false
        }
      ],
      activeItem: 1
    }
  },
  methods: {
    selectTab (id) {
      for (let i = 0; i < this.menus.length; i++) {
        if (id === this.menus[i].id) {
          this.menus[i].active = true
          this.activeItem = i + 1
        } else {
          this.menus[i].active = false
        }
      }
    },
    goBack () {
      this.$router.push('dashboard')
    }
  }
}
</script>
<style lang="sass" scoped>
  $primaryColor : #00B2FF
  $secondaryColor: #848484
  $backgroundColor : #EDEDED
  $shadowColor : #CCCCCC
  $white : #FFFFFF
  img
    height: 48px
    position: absolute
    top: -10px
    right: 40px
    background-color: $white
    padding: 20px
    border-radius: 10px
    box-shadow: 5px 5px 5px $shadowColor
  h1
    text-align: left
    margin-left: 20px
    cursor: pointer
  #content
    background-color: $white
    border-radius: 10px
    margin: 20px
    margin-top: 40px
    padding: 20px
    box-shadow: 5px 5px 5px $shadowColor
    ul
      margin-top: 0px
      margin-bottom: 40px
      background-color: $backgroundColor
      border-radius: 8px
      width: 150px
      padding: 5px
      margin-left: auto
      margin-right: auto
      li
        text-align: left
        list-style: none
        display: inline-block
        padding: 10px
        border-radius: 8px
        text-transform: uppercase
        cursor: pointer
        &[active=true]
          background-color: $primaryColor
          color: #ffffff
          font-weight: bold
  #downloadIcon
    position: absolute
    margin-top: -80px
    font-size: 20pt
    right: 60px
    color: $secondaryColor
    cursor: pointer
</style>
