<template>
  <div id="body">
    <div id="error" v-if="showError">{{ errorMessage }}</div>
    <div id="container">
      <img src="../assets/logo.png" />
      <div id="form">
        <div>
          <label>Email</label>
          <input type="text" ref="email" @keyup.enter="login" />
        </div>
        <div>
          <label>Password</label>
          <input type="password" ref="password" @keyup.enter="login" />
        </div>
        <button v-on:click="login">Masuk</button>
      </div>
    </div>
  </div>
</template>
<style lang="sass" scoped>
  $primaryColor : #00B2FF
  $secondaryColor: #848484
  $backgroundColor : #EDEDED
  $shadowColor : #CCCCCC
  $white : #FFFFFF
  #body
    text-align: left
    background-image: url('../assets/decoration.png')
    background-repeat: no-repeat
    background-position: right
    background-size: contain
    background-attachment: fixed
    width: 100%
    height: 100vh
    #error
      background-color: #DA0000
      color: $white
      padding: 10px
      text-align: center
    #container
      width: 300px
      text-align: center
      position: relative
      margin-left: auto
      margin-right: auto
      padding-top: 200px
      img
        height: 96px
        margin-bottom: 20px
      #form
        label
          text-align: left
          display: block
        input
          width: 92%
          border-radius: 5px
          border: none
          margin-bottom: 10px
          font-size: 10pt
          padding: 10px
        button
          margin-top: 10px
          background-color: $primaryColor
          padding: 10px
          color: $white
          text-transform: uppercase
          border-radius: 10px
          border-style: none
          width: 100%
          font-size: 10pt
          letter-spacing: 3px
          cursor: pointer
</style>
<script>
import Axios from "axios";
export default {
  name: "Login",
  data() {
    return {
      errorMessage: "none",
      showErrorMessage: false
    };
  },
  methods: {
    login() {
      var self = this;
      Axios.post(this.$store.getters.getBaseURL + "/user/login", {
        email: this.$refs.email.value,
        password: this.$refs.password.value
      })
        .then(function(response) {
          self.showErrorMessage = false;
          self.$store.commit("updateToken", response.data.data.token);
          self.$store.commit("updateEmail", self.$refs.email.value);
          self.$router.push("/dashboard");
        })
        .catch(function(error) {
          self.errorMessage = error.response.data.message;
          self.showErrorMessage = true;
        });
    }
  },
  computed: {
    showError() {
      return this.showErrorMessage;
    }
  }
};
</script>
