<template>
  <div>
    <div id="bar">
      <font-awesome-icon icon="arrow-left" v-on:click="hideMe" />
      {{getTitle}}
      <ul id="buttons">
        <li
          v-bind:key="button.title"
          v-for="button in buttons"
          v-on:click="showPopup(button.title)"
        >
          <i>
            <font-awesome-icon :icon="button.icon" />
          </i>
          {{button.title}}
        </li>
      </ul>
      {{ getActiveData }}
      <ul id="details">
        <li v-bind:key="detail.id" v-for="detail in details">
          {{ detail.key }}:
          <img v-if="detail.key === 'gambar'" :src="detail.value" width="100%" />
          <span v-else>{{ detail.value }}</span>
        </li>
      </ul>
    </div>
    <div id="popup" v-if="getPopupStatus">
      <AdminPopup
        caption="Apakah Anda yakin ingin menghapus data ini?"
        :yesCallback="deleteData"
        :noCallback="closePopup"
      />
    </div>
  </div>
</template>
<script>
import AdminPopup from "@/components/AdminPopup.vue";
export default {
  name: "AdminDetailBar",
  components: {
    AdminPopup
  },
  data() {
    return {
      data: {
        title: "Judul"
      },
      buttons: [
        {
          title: "edit",
          icon: "edit"
        },
        {
          title: "hapus",
          icon: "times"
        },
        {
          title: "lampiran",
          icon: "paperclip"
        }
      ],
      details: [
        {
          id: 1,
          key: "Bulan",
          value: "08"
        },
        {
          id: 2,
          key: "Tahun",
          value: "2018"
        },
        {
          id: 3,
          key: "Nilai",
          value: "87"
        }
      ],
      deletePopup: false
    };
  },
  methods: {
    hideMe() {
      this.$store.commit("setShowDetail", false);
    },
    fetchData() {
      let type = this.$store.getters.getChartType;
      let data = this.$store.getters.getActiveData;
      let keys = [];
      if (type === "issuing") {
        this.buttons = [
          {
            title: "edit",
            icon: "edit"
          },
          {
            title: "hapus",
            icon: "times"
          },
          {
            title: "lampiran",
            icon: "paperclip"
          }
        ];
        keys = [
          "id",
          "no_surat",
          "no_item",
          "nama_material",
          "hub_dokumen",
          "subyek",
          "to",
          "surat_sebelum",
          "created_at",
          "updated_at"
        ];
      } else if (type === "mostatus") {
        this.buttons = [
          {
            title: "edit",
            icon: "edit"
          },
          {
            title: "hapus",
            icon: "times"
          }
        ];
        keys = ["id", "judul", "jumlah", "created_at", "updated_at"];
      } else if (type === "multisource") {
        this.buttons = [
          {
            title: "edit",
            icon: "edit"
          },
          {
            title: "hapus",
            icon: "times"
          }
        ];
        keys = ["id", "judul", "jumlah", "created_at", "updated_at"];
      } else if (type === "improvement") {
        this.buttons = [
          {
            title: "edit",
            icon: "edit"
          },
          {
            title: "hapus",
            icon: "times"
          }
        ];
        keys = ["id", "judul", "jumlah", "created_at", "updated_at"];
      } else if (type === "patrol") {
        this.buttons = [
          {
            title: "edit",
            icon: "edit"
          },
          {
            title: "hapus",
            icon: "times"
          }
        ];
        keys = ["id", "nama", "created_at", "updated_at"];
      } else if (type === "agenda") {
        this.buttons = [
          {
            title: "edit",
            icon: "edit"
          },
          {
            title: "hapus",
            icon: "times"
          }
        ];
        keys = ["id", "judul", "created_at", "updated_at"];
      } else if (type === "safetyaward") {
        this.buttons = [
          {
            title: "edit",
            icon: "edit"
          },
          {
            title: "hapus",
            icon: "times"
          }
        ];
        keys = ["id", "nama", "gambar", "aktif", "created_at", "updated_at"];
      } else if (
        type === "penerimaan" ||
        type === "turnoverratio" ||
        type === "persediaan" ||
        type === "pengeluaran" ||
        type === "servicelevel"
      ) {
        this.buttons = [
          {
            title: "edit",
            icon: "edit"
          },
          {
            title: "hapus",
            icon: "times"
          }
        ];
        keys = [
          "id",
          "kategori",
          "tgl",
          "nilai",
          "satuan",
          "created_at",
          "updated_at"
        ];
      }
      let details = [];
      for (let i = 0; i < keys.length; i++) {
        let detail = {
          id: i + 1,
          key: keys[i],
          value: data[keys[i]]
        };
        if (detail.value !== null) details.push(detail);
      }
      this.details = details;
    },
    async deleteData() {
      let activeId = this.$store.getters.getActiveData.id;
      let chartType = this.$store.getters.getChartType;
      if (chartType === "issuing") {
        await this.deleteChartApi("issuingletter", activeId);
      } else if (
        chartType === "penerimaan" ||
        chartType === "turnoverratio" ||
        chartType === "persediaan" ||
        chartType === "pengeluaran" ||
        chartType === "servicelevel"
      ) {
        await this.deleteChartApi("chart", activeId);
      } else if (chartType === "mostatus") {
        await this.deleteChartApi("mostatus", activeId);
      } else if (chartType === "multisource") {
        await this.deleteChartApi("multisource", activeId);
      } else if (chartType === "improvement") {
        await this.deleteChartApi("improvement", activeId);
      } else if (chartType === "patrol") {
        await this.deleteChartApi("patrol", activeId);
      } else if (chartType === "agenda") {
        await this.deleteChartApi("agenda", activeId);
      } else if (chartType === "safetyaward") {
        await this.deleteChartApi("award", activeId);
      }
      this.deletePopup = false;
      this.$store.commit("setRefreshData", false);
      this.$store.commit("setRefreshData", true);
      this.hideMe();
    },
    async getAttachmentById() {
      let activeId = this.$store.getters.getActiveData.id;
      let chartType = this.$store.getters.getChartType;
      if (chartType === "issuing") {
        let data = await this.getChartByIdApi("issuingletter", activeId);
        let filename = data.dokumen;
        await this.getAttachmentByIdApi("issuingletter", activeId, filename);
      } else {
        let data = await this.getChartByIdApi("chart", activeId);
        let filename = data.dokumen;
        await this.getAttachmentByIdApi("chart", activeId, filename);
      }
    },
    async showPopup(title) {
      if (title === "hapus") {
        if (this.deletePopup === false) {
          this.deletePopup = true;
        } else {
          this.deletePopup = false;
        }
      } else if (title === "edit") {
        this.$store.commit("setShowDetail", false);
        this.$router.push("/admin/" + this.$route.params.title + "/edit");
      } else {
        await this.getAttachmentById();
      }
    },
    closePopup() {
      this.deletePopup = false;
    }
  },
  computed: {
    getTitle() {
      return this.$store.getters.getChartTitle;
    },
    getPopupStatus() {
      return this.deletePopup;
    },
    getActiveData() {
      this.fetchData();
      return "";
    }
  }
};
</script>
<style lang="sass" scoped>
  $primaryColor : #00B2FF
  $secondaryColor: #848484
  $backgroundColor : #EDEDED
  $shadowColor : #CCCCCC
  $white : #FFFFFF
  #bar
    background-color: $white
    height: 100vh
    width: 233px
    position: absolute
    right: 0px
    top: 45px
    padding: 20px
    text-align: left
    box-shadow: -5px 5px 5px $shadowColor
    #buttons
      margin-left: -40px
      li
        list-item: none
        display: inline-block
        background-color: $backgroundColor
        margin-right: 5px
        margin-left: 0px
        padding: 5px
        padding-left: 10px
        padding-right: 10px
        border-radius: 5px
        font-size: 10pt
        cursor: pointer
    #details
      li
        margin-left: -40px
        list-style: none
        line-height: 30px
  #popup
    position: absolute
    left: 0px
    right: 0px
    top: 0px
    width: 100%
    height: 100vh
    bottom: 0px
    z-index: 90
</style>
