<template>
  <div>
    <div id="titlebar">
      <ul id="breadcumbs">
        <li
          v-bind:key="breadcumb.id"
          v-for="breadcumb in breadcumbs"
          v-on:click="goBack(breadcumb.link)"
        >{{ breadcumb.title }}</li>
      </ul>
      <h2>{{ getTitle }}</h2>
      <div id="content">
        <div id="form">
          <span v-if="$route.params.title == 'penerimaan'">
            <div>
              <label>Judul</label>
              <input type="text" v-model="chartdata.judul" readonly />
            </div>
            <div>
              <label>Tanggal</label>
              <datepicker
                placeholder="Select Date"
                ref="tgl"
                v-model="chartdata.tgl"
                :format="format"
                input-class="tgl"
                wrapper-class="tgl-div"
              ></datepicker>
            </div>
            <div>
              <label>Nilai</label>
              <input type="number" v-model="chartdata.nilai" />
            </div>
            <div>
              <label>Satuan</label>
              <input type="text" v-model="chartdata.satuan" />
            </div>
            <div>
              <label>Tampilkan</label>
              <div>
                <input type="radio" v-model="chartdata.is_shown" value="1" /> YA
              </div>
              <div>
                <input type="radio" v-model="chartdata.is_shown" value="0" /> TIDAK
              </div>
            </div>
          </span>
          <span v-if="$route.params.title == 'turnoverratio'">
            <div>
              <label>Judul</label>
              <input type="text" v-model="chartdata.judul" readonly />
            </div>
            <div>
              <label>Tanggal</label>
              <datepicker
                placeholder="Select Date"
                ref="tgl"
                v-model="chartdata.tgl"
                :format="format"
                input-class="tgl"
                wrapper-class="tgl-div"
              ></datepicker>
            </div>
            <div>
              <label>Nilai</label>
              <input type="number" v-model="chartdata.nilai" />
            </div>
            <div>
              <label>Satuan</label>
              <input type="text" v-model="chartdata.satuan" />
            </div>
            <div>
              <label>Tampilkan</label>
              <div>
                <input type="radio" v-model="chartdata.is_shown" value="1" /> YA
              </div>
              <div>
                <input type="radio" v-model="chartdata.is_shown" value="0" /> TIDAK
              </div>
            </div>
          </span>
          <span v-if="$route.params.title == 'persediaan'">
            <div>
              <label>Judul</label>
              <input type="text" v-model="chartdata.judul" readonly />
            </div>
            <div>
              <label>Kategori</label>
              <input type="text" v-model="chartdata.kategori" />
            </div>
            <div>
              <label>Tanggal</label>
              <datepicker
                placeholder="Select Date"
                ref="tgl"
                v-model="chartdata.tgl"
                :format="format"
                input-class="tgl"
                wrapper-class="tgl-div"
              ></datepicker>
            </div>
            <div>
              <label>Nilai</label>
              <input type="number" v-model="chartdata.nilai" />
            </div>
            <div>
              <label>Satuan</label>
              <input type="text" v-model="chartdata.satuan" />
            </div>
            <div>
              <label>Tampilkan</label>
              <div>
                <input type="radio" v-model="chartdata.is_shown" value="1" /> YA
              </div>
              <div>
                <input type="radio" v-model="chartdata.is_shown" value="0" /> TIDAK
              </div>
            </div>
          </span>
          <span v-if="$route.params.title == 'pengeluaran'">
            <div>
              <label>Judul</label>
              <input type="text" v-model="chartdata.judul" readonly />
            </div>
            <div>
              <label>Tanggal</label>
              <datepicker
                placeholder="Select Date"
                ref="tgl"
                v-model="chartdata.tgl"
                :format="format"
                input-class="tgl"
                wrapper-class="tgl-div"
              ></datepicker>
            </div>
            <div>
              <label>Nilai</label>
              <input type="number" v-model="chartdata.nilai" />
            </div>
            <div>
              <label>Satuan</label>
              <input type="text" v-model="chartdata.satuan" />
            </div>
            <div>
              <label>Tampilkan</label>
              <div>
                <input type="radio" v-model="chartdata.is_shown" value="1" /> YA
              </div>
              <div>
                <input type="radio" v-model="chartdata.is_shown" value="0" /> TIDAK
              </div>
            </div>
          </span>
          <span v-if="$route.params.title == 'servicelevel'">
            <div>
              <label>Judul</label>
              <input type="text" v-model="chartdata.judul" readonly />
            </div>
            <div>
              <label>Tanggal</label>
              <datepicker
                placeholder="Select Date"
                ref="tgl"
                v-model="chartdata.tgl"
                :format="format"
                input-class="tgl"
                wrapper-class="tgl-div"
              ></datepicker>
            </div>
            <div>
              <label>Nilai</label>
              <input type="number" v-model="chartdata.nilai" />
            </div>
            <div>
              <label>Satuan</label>
              <input type="text" v-model="chartdata.satuan" />
            </div>
            <div>
              <label>Tampilkan</label>
              <div>
                <input type="radio" v-model="chartdata.is_shown" value="1" /> YA
              </div>
              <div>
                <input type="radio" v-model="chartdata.is_shown" value="0" /> TIDAK
              </div>
            </div>
          </span>
          <span v-if="$route.params.title == 'issuing'">
            <div>
              <label>No Surat</label>
              <input type="text" v-model="issuingdata.no_surat" />
            </div>
            <div>
              <label>No Item</label>
              <input type="text" v-model="issuingdata.no_item" />
            </div>
            <div>
              <label>Nama Material</label>
              <input type="text" v-model="issuingdata.nama_material" />
            </div>
            <div>
              <label>Hub. Dokumen</label>
              <input type="text" v-model="issuingdata.hub_dokumen" />
            </div>
            <div>
              <label>Subyek</label>
              <input type="text" v-model="issuingdata.subyek" />
            </div>
            <div>
              <label>TO</label>
              <input type="text" v-model="issuingdata.to" />
            </div>
            <div>
              <label>Surat Sebelumnya</label>
              <input type="text" v-model="issuingdata.surat_sebelum" />
            </div>
            <div>
              <label>Dokumen</label>
              <input type="file" ref="dokumen" />
            </div>
            <div>
              <label>Tampilkan</label>
              <div>
                <input type="radio" v-model="issuingdata.is_shown" value="1" /> YA
              </div>
              <div>
                <input type="radio" v-model="issuingdata.is_shown" value="0" /> TIDAK
              </div>
            </div>
          </span>
          <span v-if="$route.params.title == 'mostatus'">
            <div>
              <label>Judul</label>
              <input type="text" v-model="mostatusdata.judul" />
            </div>
            <div>
              <label>Jumlah</label>
              <input type="number" v-model="mostatusdata.jumlah" />
            </div>
            <div>
              <label>Tanggal</label>
              <datepicker
                placeholder="Select Date"
                ref="tgl"
                v-model="mostatusdata.tgl"
                :format="format"
                input-class="tgl"
                wrapper-class="tgl-div"
              ></datepicker>
            </div>
          </span>
          <span v-if="$route.params.title == 'multisource'">
            <div>
              <label>Judul</label>
              <input type="text" v-model="multisourcedata.judul" />
            </div>
            <div>
              <label>Jumlah</label>
              <input type="number" v-model="multisourcedata.jumlah" />
            </div>
            <div>
              <label>Tanggal</label>
              <datepicker
                placeholder="Select Date"
                ref="tgl"
                v-model="multisourcedata.tgl"
                :format="format"
                input-class="tgl"
                wrapper-class="tgl-div"
              ></datepicker>
            </div>
          </span>
          <span v-if="$route.params.title == 'improvement'">
            <div>
              <label>Judul</label>
              <input type="text" v-model="improvementdata.judul" />
            </div>
            <div>
              <label>Jumlah</label>
              <input type="number" v-model="improvementdata.jumlah" />
            </div>
            <div>
              <label>Tanggal</label>
              <datepicker
                placeholder="Select Date"
                ref="tgl"
                v-model="improvementdata.tgl"
                :format="format"
                input-class="tgl"
                wrapper-class="tgl-div"
              ></datepicker>
            </div>
          </span>
          <span v-if="$route.params.title == 'patrol'">
            <div>
              <label>Nama</label>
              <input type="text" v-model="patroldata.nama" />
            </div>
            <div>
              <label>Tanggal</label>
              <datepicker
                placeholder="Select Date"
                ref="tgl"
                v-model="patroldata.tgl"
                :format="format"
                input-class="tgl"
                wrapper-class="tgl-div"
              ></datepicker>
            </div>
          </span>
          <span v-if="$route.params.title == 'agenda'">
            <div>
              <label>Judul</label>
              <input type="text" v-model="agendadata.judul" />
            </div>
            <div>
              <label>Tanggal</label>
              <datepicker
                placeholder="Select Date"
                ref="tgl"
                v-model="agendadata.tgl"
                :format="format"
                input-class="tgl"
                wrapper-class="tgl-div"
              ></datepicker>
            </div>
          </span>
          <span v-if="$route.params.title == 'safetyaward'">
            <div>
              <label>Nama</label>
              <input type="text" v-model="awarddata.nama" />
            </div>
            <div>
              <label>Gambar</label>
              <input type="file" ref="gambar" />
            </div>
            <div>
              <label>Tampilkan</label>
              <div>
                <input type="radio" v-model="awarddata.aktif" value="1" /> YA
              </div>
              <div>
                <input type="radio" v-model="awarddata.aktif" value="0" /> TIDAK
              </div>
            </div>
          </span>
          <button v-on:click="submit">Tambahkan</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Datepicker from "vuejs-datepicker";
export default {
  name: "AdminChartContentAdd",
  components: {
    Datepicker
  },
  data() {
    return {
      format: "dd MMM yyyy",
      breadcumbs: [
        {
          id: 1,
          title: this.$store.getters.getChartTitle,
          link: "/admin/" + this.$route.params.title + "/list"
        },
        {
          id: 2,
          title: "Tambah " + this.$store.getters.getChartTitle,
          link: "/admin/" + this.$route.params.title + "/add"
        }
      ],
      chartdata: {
        judul: this.$route.params.title,
        kategori: "",
        tgl: new Date(),
        nilai: "",
        satuan: "",
        is_shown: 1
      },
      issuingdata: {
        no_surat: "",
        no_item: "",
        nama_material: "",
        hub_dokumen: "",
        subyek: "",
        to: "",
        surat_sebelum: "",
        is_shown: 1,
        dokumen: ""
      },
      mostatusdata: {
        judul: "",
        jumlah: 0,
        tgl: new Date()
      },
      multisourcedata: {
        judul: "",
        jumlah: 0,
        tgl: new Date()
      },
      improvementdata: {
        judul: "",
        jumlah: 0,
        tgl: new Date()
      },
      patroldata: {
        nama: "",
        tgl: new Date()
      },
      agendadata: {
        judul: "",
        tgl: new Date()
      },
      awarddata: {
        nama: "",
        gambar: "",
        aktif: 1
      }
    };
  },
  methods: {
    goBack(link) {
      this.$router.push(link);
    },
    async toBase64(doc) {
      let reader = new FileReader();
      reader.readAsDataURL(doc);
      reader.onloadend = function() {
        // Since it contains the Data URI, we should remove the prefix and keep only Base64 string
        // let b64 = reader.result.replace(/^data:.+;base64,/, "");
        // console.log(b64); //-> "R0lGODdhAQABAPAAAP8AAAAAACwAAAAAAQABAAACAkQBADs="
        localStorage.setItem("gambar", reader.result.toString());
      };
    },
    intToString(data) {
      if (data < 10) {
        return "0" + data;
      }
      return data;
    },
    dateToString(data) {
      return (
        data.getFullYear() +
        "-" +
        this.intToString(data.getMonth() + 1) +
        "-" +
        this.intToString(data.getDate())
      );
    },
    async submit() {
      let data = [];
      if (
        this.$route.params.title === "penerimaan" ||
        this.$route.params.title === "turnoverratio" ||
        this.$route.params.title === "persediaan" ||
        this.$route.params.title === "pengeluaran" ||
        this.$route.params.title === "servicelevel"
      ) {
        data = this.chartdata;
        data.tgl = this.dateToString(data.tgl);
        this.submitApi("chart", data);
      } else if (this.$route.params.title === "issuing") {
        let formData = new FormData();
        formData.append("no_surat", this.issuingdata.no_surat);
        formData.append("no_item", this.issuingdata.no_item);
        formData.append("nama_material", this.issuingdata.nama_material);
        formData.append("hub_dokumen", this.issuingdata.hub_dokumen);
        formData.append("subyek", this.issuingdata.subyek);
        formData.append("to", this.issuingdata.to);
        formData.append("surat_sebelum", this.issuingdata.surat_sebelum);
        formData.append("is_shown", this.issuingdata.is_shown);
        formData.append("dokumen", this.$refs.dokumen.files[0]);
        this.submitUploadApi("issuingletter", formData);
      } else if (this.$route.params.title === "mostatus") {
        let formData = new FormData();
        formData.append("judul", this.mostatusdata.judul);
        formData.append("jumlah", this.mostatusdata.jumlah);
        formData.append("tgl", this.dateToString(this.mostatusdata.tgl));
        this.submitApi("mostatus", formData);
      } else if (this.$route.params.title === "multisource") {
        let formData = new FormData();
        formData.append("judul", this.multisourcedata.judul);
        formData.append("jumlah", this.multisourcedata.jumlah);
        formData.append("tgl", this.dateToString(this.multisourcedata.tgl));
        this.submitApi("multisource", formData);
      } else if (this.$route.params.title === "improvement") {
        let formData = new FormData();
        formData.append("judul", this.improvementdata.judul);
        formData.append("jumlah", this.improvementdata.jumlah);
        formData.append("tgl", this.dateToString(this.improvementdata.tgl));
        this.submitApi("improvement", formData);
      } else if (this.$route.params.title === "patrol") {
        let formData = new FormData();
        formData.append("nama", this.patroldata.nama);
        formData.append("tgl", this.dateToString(this.patroldata.tgl));
        this.submitApi("patrol", formData);
      } else if (this.$route.params.title === "agenda") {
        let formData = new FormData();
        formData.append("judul", this.agendadata.judul);
        formData.append("tgl", this.dateToString(this.agendadata.tgl));
        this.submitApi("agenda", formData);
      } else if (this.$route.params.title === "safetyaward") {
        await this.toBase64(this.$refs.gambar.files[0]);
        let formData = new FormData();
        formData.append("nama", this.awarddata.nama);
        formData.append("gambar", localStorage.getItem("gambar"));
        formData.append("aktif", this.awarddata.aktif);
        this.submitApi("award", formData);
      }
      this.$router.push("/admin/" + this.$route.params.title + "/list");
    }
  },
  computed: {
    getTitle() {
      return "TAMBAH " + this.$store.getters.getChartTitle;
    },
    getImage() {
      return this.awarddata.gambar;
    }
  }
};
</script>
<style lang="sass" scoped>
  $primaryColor : #00B2FF
  $secondaryColor: #848484
  $backgroundColor : #EDEDED
  $shadowColor : #CCCCCC
  $white : #FFFFFF
  div
    text-align: left
    h2
      color: $secondaryColor
      text-transform: uppercase
      text-align: center
      margin-bottom: 50px
  #form
    div
      width: 50%
      display: inline-block
    label
      text-align: left
      display: block
      color: $secondaryColor
      font-size: 10pt
    input
      width: 90%
      border-radius: 5px
      border-style: solid
      border-width: 2px
      margin-bottom: 10px
      font-size: 10pt
      padding: 10px
      border-color: $backgroundColor
      &[type='radio']
        width: 30px
    button
      margin-top: 50px
      margin-left: auto
      margin-right: auto
      display: block
      background-color: $primaryColor
      padding: 10px
      color: $white
      text-transform: uppercase
      border-radius: 10px
      border-style: none
      font-size: 11pt
      width: 300px
      cursor: pointer
      letter-spacing: 2px
  #breadcumbs
    margin-left: -40px
    li
      display: inline-block
      list-style: none
      margin-right: 5px
      cursor: pointer
      color: $secondaryColor
      &:first-child
        font-weight: bold
      &:after
        content: '\/'
        font-weight: normal
      &:last-child:after
        content: ''
</style>
<style lang="sass">
  $backgroundColor : #EDEDED
  .tgl-div
    width: 100% !important
    .tgl
      width: 95%
      border-radius: 5px
      border-style: solid
      border-width: 2px
      margin-bottom: 10px
      font-size: 10pt
      padding: 10px
      border-color: $backgroundColor
</style>
