<template>
  <div>
    <span>Grafik</span>
    <ul>
      <li
        v-bind:key="menu.alias"
        v-for="menu in menus"
        :active="menu.active"
        v-on:click="setActiveMenu(menu.alias)"
      >
        <i>
          <font-awesome-icon icon="chart-bar" />
        </i>
        {{ menu.title }}
      </li>
    </ul>
    <span>Tabel</span>
    <ul>
      <li
        v-bind:key="menu2.alias"
        v-for="menu2 in alternatemenus"
        :active="menu2.active"
        v-on:click="setActiveMenu(menu2.alias)"
      >
        <i>
          <font-awesome-icon icon="table" />
        </i>
        {{ menu2.title }}
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  name: "AdminSidebar",
  props: {
    menus: Array,
    alternatemenus: Array
  },
  data() {
    return {
      active: "active"
    };
  },
  methods: {
    setActiveMenu(alias) {
      for (let i = 0; i < this.menus.length; i++) {
        if (this.menus[i].alias === alias) {
          this.menus[i].active = true;
        } else {
          this.menus[i].active = false;
        }
      }
      for (let i = 0; i < this.alternatemenus.length; i++) {
        if (this.alternatemenus[i].alias === alias) {
          this.alternatemenus[i].active = true;
        } else {
          this.alternatemenus[i].active = false;
        }
      }
      this.setActiveGraph(alias);
      this.$router.push("/admin/" + alias + "/list");
    },
    setActiveGraph(param) {
      let activeGraph = {
        chartType: "penerimaan",
        title: "Penerimaan",
        chartData: []
      };
      switch (param) {
        case "penerimaan":
          activeGraph = {
            chartType: "penerimaan",
            title: "Penerimaan",
            data: []
          };
          this.$store.commit("setActiveGraph", activeGraph);
          break;
        case "turnoverratio":
          activeGraph = {
            chartType: "turnoverratio",
            title: "Turn Over Ratio",
            data: []
          };
          this.$store.commit("setActiveGraph", activeGraph);
          break;
        case "persediaan":
          activeGraph = {
            chartType: "persediaan",
            title: "Level Persediaan",
            data: []
          };
          this.$store.commit("setActiveGraph", activeGraph);
          break;
        case "pengeluaran":
          activeGraph = {
            chartType: "pengeluaran",
            title: "Pengeluaran",
            data: []
          };
          this.$store.commit("setActiveGraph", activeGraph);
          break;
        case "servicelevel":
          activeGraph = {
            chartType: "servicelevel",
            title: "Service Level",
            data: []
          };
          this.$store.commit("setActiveGraph", activeGraph);
          break;
        case "issuing":
          activeGraph = {
            chartType: "issuing",
            title: "Issuing Letter",
            data: []
          };
          this.$store.commit("setActiveGraph", activeGraph);
          break;
        case "mostatus":
          activeGraph = {
            chartType: "mostatus",
            title: "MO Status SWH",
            data: []
          };
          this.$store.commit("setActiveGraph", activeGraph);
          break;
        case "multisource":
          activeGraph = {
            chartType: "multisource",
            title: "Multisource",
            data: []
          };
          this.$store.commit("setActiveGraph", activeGraph);
          break;
        case "improvement":
          activeGraph = {
            chartType: "improvement",
            title: "Improvement",
            data: []
          };
          this.$store.commit("setActiveGraph", activeGraph);
          break;
        case "patrol":
          activeGraph = {
            chartType: "patrol",
            title: "Jadwal Patroli",
            data: []
          };
          this.$store.commit("setActiveGraph", activeGraph);
          break;
        case "agenda":
          activeGraph = {
            chartType: "agenda",
            title: "Agenda",
            data: []
          };
          this.$store.commit("setActiveGraph", activeGraph);
          break;
        case "safetyaward":
          activeGraph = {
            chartType: "safetyaward",
            title: "Karyawan Tersafety",
            data: []
          };
          this.$store.commit("setActiveGraph", activeGraph);
          break;
      }
      this.$store.commit("setRefreshData", true);
      this.$store.commit("setShowDetail", false);
    }
  },
  mounted() {
    this.setActiveGraph(this.$route.params.title);
  }
};
</script>
<style lang="sass" scoped>
  $primaryColor : #00B2FF
  $secondaryColor: #848484
  $backgroundColor : #EDEDED
  $shadowColor : #CCCCCC
  $white : #FFFFFF
  div
    background-color: $white
    padding: 10px
    width: 300px
    height: 100vw
    box-shadow: 5px 5px 5px $shadowColor
    span
      text-transform: uppercase
      text-align: left
      display: block
      color: $secondaryColor
      font-size: 10pt
      margin-top: 10px
    ul
      li
        list-style: none
        text-align: left
        margin-left: -40px
        font-size: 14pt
        padding: 10px
        cursor: pointer
        i
          font-size: 20pt
          margin-right: 10px
        &[active='true']
          background-color: $backgroundColor
          border-radius: 10px
</style>
