<template>
  <div id="bg">
    <div id="popup">
      <h2>konfirmasi</h2>
      <p>{{ caption }}</p>
      <ul>
        <li v-bind:key="button.id" v-for="button in buttons" :active="button.active" v-on:click="doClick(button.id)">
          {{ button.caption }}
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
export default {
  name: 'AdminPopup',
  props: {
    caption: String,
    yesCallback: Function,
    noCallback: Function
  },
  data () {
    return {
      buttons: [
        {
          id: 1,
          caption: 'ya',
          active: false
        },
        {
          id: 2,
          caption: 'tidak',
          active: true
        }
      ]
    }
  },
  methods: {
    doClick (id) {
      if (id === 1) {
        this.yesCallback()
      } else {
        this.noCallback()
      }
    }
  }
}
</script>
<style lang="sass" scoped>
  $primaryColor : #00B2FF
  $secondaryColor: #848484
  $backgroundColor : #EDEDED
  $shadowColor : #CCCCCC
  $white : #FFFFFF
  #bg
    position: absolute
    z-index: 10
    top: 0px
    left: 0px
    right: 0px
    bottom: 0px
    background-color: rgba(100,100,100,0.3)
    #popup
      width: 480px
      margin-top: 35vh
      margin-left: auto
      margin-right: auto
      background-color: #ffffff
      padding: 16px
      text-align: center
      color: $secondaryColor
      border-radius: 8px
      h2
        text-transform: uppercase
        margin: 0px
      ul
        margin: 0px
        margin-left: -40px
        li
          text-transform: uppercase
          display: inline-block
          list-style: none
          width: 45%
          padding: 10px
          border-radius: 10px
          cursor: pointer
          &[active=true]
            background-color: $primaryColor
            color: $white
</style>
