<template>
  <div>
    {{ email }}
    <a v-on:click="showPopup()"><font-awesome-icon icon="times" /></a>
    <admin-popup v-if="getShowPopup" caption="Apakah Anda yakin ingin keluar?" :yesCallback="logOut" :noCallback="closePopup"/>
  </div>
</template>
<script>
import AdminPopup from '@/components/AdminPopup.vue'
export default {
  name: 'AdminTitleBar',
  components: {
    AdminPopup
  },
  props: {
    email: String
  },
  methods: {
    showPopup () {
      this.$store.commit('setShowPopup', true)
    },
    logOut () {
      this.$store.commit('updateToken', '')
      this.$store.commit('setShowPopup', false)
      this.$router.push('/dashboard')
    },
    closePopup () {
      this.$store.commit('setShowPopup', false)
    }
  },
  computed: {
    getShowPopup () {
      return this.$store.getters.getShowPopup
    }
  }
}
</script>
<style lang="sass" scoped>
  $primaryColor : #00B2FF
  $secondaryColor: #848484
  $backgroundColor : #EDEDED
  $shadowColor : #CCCCCC
  $white : #FFFFFF
  div
    text-align: left
    background-color: $primaryColor
    padding: 10px
    color: $white
    font-size: 14pt
    box-shadow: 5px 5px 5px $shadowColor
    a
      font-size: 16pt
      position: absolute
      right: 20px
      cursor: pointer
</style>
