<template>
  <div>
    <div id="titlebar">
      <ul id="breadcumbs">
        <li
          v-bind:key="breadcumb.id"
          v-for="breadcumb in breadcumbs"
          v-on:click="goBack(breadcumb.link)"
        >{{ breadcumb.title }}</li>
      </ul>
      <h2>{{ getTitle }}</h2>
      <div id="content">
        <div id="form">
          <span v-if="$route.params.title == 'penerimaan'">
            <div>
              <label>Judul</label>
              <input type="text" v-model="chartdata.judul" />
            </div>
            <div>
              <label>Tanggal</label>
              <datepicker
                placeholder="Select Date"
                ref="tgl"
                v-model="chartdata.tgl"
                :format="format"
                input-class="tgl"
                wrapper-class="tgl-div"
              ></datepicker>
            </div>
            <div>
              <label>Nilai</label>
              <input type="number" v-model="chartdata.nilai" />
            </div>
            <div>
              <label>Satuan</label>
              <input type="text" v-model="chartdata.satuan" />
            </div>
            <div>
              <label>Tampilkan</label>
              <div>
                <input type="radio" v-model="chartdata.is_shown" value="1" ref="shownTrue" /> YA
              </div>
              <div>
                <input type="radio" v-model="chartdata.is_shown" value="0" ref="shownFalse" /> TIDAK
              </div>
            </div>
          </span>
          <span v-if="$route.params.title == 'turnoverratio'">
            <div>
              <label>Judul</label>
              <input type="text" v-model="chartdata.judul" />
            </div>
            <div v-if="$route.params.title == 'persediaan'">
              <label>Kategori</label>
              <input type="text" v-model="chartdata.kategori" />
            </div>
            <div>
              <label>Tanggal</label>
              <datepicker
                placeholder="Select Date"
                ref="tgl"
                v-model="chartdata.tgl"
                :format="format"
                input-class="tgl"
                wrapper-class="tgl-div"
              ></datepicker>
            </div>
            <div>
              <label>Nilai</label>
              <input type="number" v-model="chartdata.nilai" />
            </div>
            <div>
              <label>Satuan</label>
              <input type="text" v-model="chartdata.satuan" />
            </div>
            <div>
              <label>Tampilkan</label>
              <div>
                <input type="radio" v-model="chartdata.is_shown" value="1" ref="shownTrue" /> YA
              </div>
              <div>
                <input type="radio" v-model="chartdata.is_shown" value="0" ref="shownFalse" /> TIDAK
              </div>
            </div>
          </span>
          <span v-if="$route.params.title == 'persediaan'">
            <div>
              <label>Judul</label>
              <input type="text" v-model="chartdata.judul" />
            </div>
            <div>
              <label>Kategori</label>
              <input type="text" v-model="chartdata.kategori" />
            </div>
            <div>
              <label>Tanggal</label>
              <datepicker
                placeholder="Select Date"
                ref="tgl"
                v-model="chartdata.tgl"
                :format="format"
                input-class="tgl"
                wrapper-class="tgl-div"
              ></datepicker>
            </div>
            <div>
              <label>Nilai</label>
              <input type="number" v-model="chartdata.nilai" />
            </div>
            <div>
              <label>Satuan</label>
              <input type="text" v-model="chartdata.satuan" />
            </div>
            <div>
              <label>Tampilkan</label>
              <div>
                <input type="radio" v-model="chartdata.is_shown" value="1" ref="shownTrue" /> YA
              </div>
              <div>
                <input type="radio" v-model="chartdata.is_shown" value="0" ref="shownFalse" /> TIDAK
              </div>
            </div>
          </span>
          <span v-if="$route.params.title == 'pengeluaran'">
            <div>
              <label>Judul</label>
              <input type="text" v-model="chartdata.judul" />
            </div>
            <div>
              <label>Tanggal</label>
              <datepicker
                placeholder="Select Date"
                ref="tgl"
                v-model="chartdata.tgl"
                :format="format"
                input-class="tgl"
                wrapper-class="tgl-div"
              ></datepicker>
            </div>
            <div>
              <label>Nilai</label>
              <input type="number" v-model="chartdata.nilai" />
            </div>
            <div>
              <label>Satuan</label>
              <input type="text" v-model="chartdata.satuan" />
            </div>
            <div>
              <label>Tampilkan</label>
              <div>
                <input type="radio" v-model="chartdata.is_shown" value="1" ref="shownTrue" /> YA
              </div>
              <div>
                <input type="radio" v-model="chartdata.is_shown" value="0" ref="shownFalse" /> TIDAK
              </div>
            </div>
          </span>
          <span v-if="$route.params.title == 'servicelevel'">
            <div>
              <label>Judul</label>
              <input type="text" v-model="chartdata.judul" />
            </div>
            <div>
              <label>Tanggal</label>
              <datepicker
                placeholder="Select Date"
                ref="tgl"
                v-model="chartdata.tgl"
                :format="format"
                input-class="tgl"
                wrapper-class="tgl-div"
              ></datepicker>
            </div>
            <div>
              <label>Nilai</label>
              <input type="number" v-model="chartdata.nilai" />
            </div>
            <div>
              <label>Satuan</label>
              <input type="text" v-model="chartdata.satuan" />
            </div>
            <div>
              <label>Tampilkan</label>
              <div>
                <input type="radio" v-model="chartdata.is_shown" value="1" ref="shownTrue" /> YA
              </div>
              <div>
                <input type="radio" v-model="chartdata.is_shown" value="0" ref="shownFalse" /> TIDAK
              </div>
            </div>
          </span>
          <span v-if="$route.params.title == 'issuing'">
            <div>
              <label>No Surat</label>
              <input type="text" v-model="issuingdata.no_surat" />
            </div>
            <div>
              <label>No Item</label>
              <input type="text" v-model="issuingdata.no_item" />
            </div>
            <div>
              <label>Nama Material</label>
              <input type="text" v-model="issuingdata.nama_material" />
            </div>
            <div>
              <label>Hub. Dokumen</label>
              <input type="text" v-model="issuingdata.hub_dokumen" />
            </div>
            <div>
              <label>Subyek</label>
              <input type="text" v-model="issuingdata.subyek" />
            </div>
            <div>
              <label>TO</label>
              <input type="text" v-model="issuingdata.to" />
            </div>
            <div>
              <label>Surat Sebelumnya</label>
              <input type="text" v-model="issuingdata.surat_sebelum" />
            </div>
            <div>
              <label>Dokumen : {{ issuingdata.dokumen }}</label>
              <input type="file" ref="dokumen" />
            </div>
            <div>
              <label>Tampilkan</label>
              <div>
                <input type="radio" v-model="issuingdata.is_shown" value="1" ref="shownTrue" /> YA
              </div>
              <div>
                <input type="radio" v-model="issuingdata.is_shown" value="0" ref="shownFalse" /> TIDAK
              </div>
            </div>
          </span>
          <span v-if="$route.params.title == 'mostatus'">
            <div>
              <label>Judul</label>
              <input type="text" v-model="mostatusdata.judul" />
            </div>
            <div>
              <label>Jumlah</label>
              <input type="text" v-model="mostatusdata.jumlah" />
            </div>
            <div>
              <label>Tanggal</label>
              <datepicker
                placeholder="Select Date"
                ref="tgl"
                v-model="mostatusdata.tgl"
                :format="format"
                input-class="tgl"
                wrapper-class="tgl-div"
              ></datepicker>
            </div>
          </span>
          <span v-if="$route.params.title == 'multisource'">
            <div>
              <label>Judul</label>
              <input type="text" v-model="multisourcedata.judul" />
            </div>
            <div>
              <label>Jumlah</label>
              <input type="text" v-model="multisourcedata.jumlah" />
            </div>
            <div>
              <label>Tanggal</label>
              <datepicker
                placeholder="Select Date"
                ref="tgl"
                v-model="multisourcedata.tgl"
                :format="format"
                input-class="tgl"
                wrapper-class="tgl-div"
              ></datepicker>
            </div>
          </span>
          <span v-if="$route.params.title == 'improvement'">
            <div>
              <label>Judul</label>
              <input type="text" v-model="improvementdata.judul" />
            </div>
            <div>
              <label>Jumlah</label>
              <input type="text" v-model="improvementdata.jumlah" />
            </div>
            <div>
              <label>Tanggal</label>
              <datepicker
                placeholder="Select Date"
                ref="tgl"
                v-model="improvementdata.tgl"
                :format="format"
                input-class="tgl"
                wrapper-class="tgl-div"
              ></datepicker>
            </div>
          </span>
          <span v-if="$route.params.title == 'patrol'">
            <div>
              <label>Nama</label>
              <input type="text" v-model="patroldata.nama" />
            </div>
            <div>
              <label>Tanggal</label>
              <datepicker
                placeholder="Select Date"
                ref="tgl"
                v-model="patroldata.tgl"
                :format="format"
                input-class="tgl"
                wrapper-class="tgl-div"
              ></datepicker>
            </div>
          </span>
          <span v-if="$route.params.title == 'agenda'">
            <div>
              <label>Judul</label>
              <input type="text" v-model="agendadata.judul" />
            </div>
            <div>
              <label>Tanggal</label>
              <datepicker
                placeholder="Select Date"
                ref="tgl"
                v-model="agendadata.tgl"
                :format="format"
                input-class="tgl"
                wrapper-class="tgl-div"
              ></datepicker>
            </div>
          </span>
          <span v-if="$route.params.title == 'safetyaward'">
            <div>
              <label>Nama</label>
              <input type="text" v-model="awarddata.nama" />
            </div>
            <div>
              <label>Gambar</label>
              <input type="file" ref="gambar" />
            </div>
            <div>
              <label>Aktif</label>
              <div>
                <input type="radio" v-model="awarddata.aktif" value="1" ref="shownTrue" /> YA
              </div>
              <div>
                <input type="radio" v-model="awarddata.aktif" value="0" ref="shownFalse" /> TIDAK
              </div>
            </div>
          </span>
          <button v-on:click="submit">Simpan Perubahan</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Datepicker from "vuejs-datepicker";
export default {
  name: "AdminChartContentEdit",
  components: {
    Datepicker
  },
  data() {
    return {
      format: "dd MMM yyyy",
      breadcumbs: [
        {
          id: 1,
          title: this.$store.getters.getChartTitle,
          link: "/admin/" + this.$route.params.title + "/list"
        },
        {
          id: 2,
          title: "Edit " + this.$store.getters.getChartTitle,
          link: "/admin/" + this.$route.params.title + "/edit"
        }
      ],
      chartdata: {
        judul: this.$route.params.title,
        kategori: this.$store.getters.getActiveData.kategori,
        tgl: new Date(
          this.$store.getters.getActiveData.tgl
            ? this.$store.getters.getActiveData.tgl
            : ""
        ),
        nilai: this.$store.getters.getActiveData.nilai,
        satuan: this.$store.getters.getActiveData.satuan,
        is_shown: this.$store.getters.getActiveData.is_shown,
        _method: "PUT"
      },
      issuingdata: {
        no_surat: this.$store.getters.getActiveData.no_surat,
        no_item: this.$store.getters.getActiveData.no_item,
        nama_material: this.$store.getters.getActiveData.nama_material,
        hub_dokumen: this.$store.getters.getActiveData.hub_dokumen,
        subyek: this.$store.getters.getActiveData.subyek,
        to: this.$store.getters.getActiveData.to,
        surat_sebelum: this.$store.getters.getActiveData.surat_sebelum,
        is_shown: this.$store.getters.getActiveData.is_shown,
        dokumen: this.$store.getters.getActiveData.dokumen
      },
      mostatusdata: {
        judul: this.$store.getters.getActiveData.judul,
        jumlah: this.$store.getters.getActiveData.jumlah,
        tgl: new Date(
          this.$store.getters.getActiveData.created_at
            ? this.$store.getters.getActiveData.created_at
            : ""
        )
      },
      multisourcedata: {
        judul: this.$store.getters.getActiveData.judul,
        jumlah: this.$store.getters.getActiveData.jumlah,
        tgl: new Date(
          this.$store.getters.getActiveData.created_at
            ? this.$store.getters.getActiveData.created_at
            : ""
        )
      },
      improvementdata: {
        judul: this.$store.getters.getActiveData.judul,
        jumlah: this.$store.getters.getActiveData.jumlah,
        tgl: new Date(
          this.$store.getters.getActiveData.created_at
            ? this.$store.getters.getActiveData.created_at
            : ""
        )
      },
      patroldata: {
        nama: this.$store.getters.getActiveData.nama,
        tgl: new Date(
          this.$store.getters.getActiveData.created_at
            ? this.$store.getters.getActiveData.created_at
            : ""
        )
      },
      agendadata: {
        judul: this.$store.getters.getActiveData.judul,
        tgl: new Date(
          this.$store.getters.getActiveData.created_at
            ? this.$store.getters.getActiveData.created_at
            : ""
        )
      },
      awarddata: {
        nama: this.$store.getters.getActiveData.nama,
        gambar: this.$store.getters.getActiveData.gambar,
        aktif: this.$store.getters.getActiveData.aktif
      }
    };
  },
  methods: {
    goBack(link) {
      this.$router.push(link);
    },
    toBase64(file) {
      new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(reader.result);
        reader.onerror = error => reject(error);
      });
    },
    intToString(data) {
      if (data < 10) {
        return "0" + data;
      }
      return data;
    },
    dateToString(data) {
      return (
        data.getFullYear() +
        "-" +
        this.intToString(data.getMonth() + 1) +
        "-" +
        this.intToString(data.getDate())
      );
    },
    async submit() {
      let data = [];
      if (this.$route.params.title === "penerimaan") {
        data = this.chartdata;
        data.tgl = this.dateToString(data.tgl);
        this.updateApi("chart", data, this.$store.getters.getActiveData.id);
      } else if (this.$route.params.title === "turnoverratio") {
        data = this.chartdata;
        data.tgl = this.dateToString(data.tgl);
        this.updateApi("chart", data, this.$store.getters.getActiveData.id);
      } else if (this.$route.params.title === "persediaan") {
        data = this.chartdata;
        data.tgl = this.dateToString(data.tgl);
        this.updateApi("chart", data, this.$store.getters.getActiveData.id);
      } else if (this.$route.params.title === "pengeluaran") {
        data = this.chartdata;
        data.tgl = this.dateToString(data.tgl);
        this.updateApi("chart", data, this.$store.getters.getActiveData.id);
      } else if (this.$route.params.title === "servicelevel") {
        data = this.chartdata;
        data.tgl = this.dateToString(data.tgl);
        this.updateApi("chart", data, this.$store.getters.getActiveData.id);
      } else if (this.$route.params.title === "issuing") {
        let formData = new FormData();
        formData.append("no_surat", this.issuingdata.no_surat);
        formData.append("no_item", this.issuingdata.no_item);
        formData.append("nama_material", this.issuingdata.nama_material);
        formData.append("hub_dokumen", this.issuingdata.hub_dokumen);
        formData.append("subyek", this.issuingdata.subyek);
        formData.append("to", this.issuingdata.to);
        formData.append("surat_sebelum", this.issuingdata.surat_sebelum);
        formData.append("is_shown", this.issuingdata.is_shown);
        formData.append("dokumen", this.$refs.dokumen.files[0]);
        formData.append("_method", "PUT");
        this.updateUploadApi(
          "issuingletter",
          formData,
          this.$store.getters.getActiveData.id
        );
      } else if (this.$route.params.title === "mostatus") {
        let formData = new FormData();
        formData.append("judul", this.mostatusdata.judul);
        formData.append("jumlah", this.mostatusdata.jumlah);
        formData.append("tgl", this.dateToString(this.mostatusdata.tgl));
        formData.append("_method", "PUT");
        this.updateUploadApi(
          "mostatus",
          formData,
          this.$store.getters.getActiveData.id
        );
      } else if (this.$route.params.title === "multisource") {
        let formData = new FormData();
        formData.append("judul", this.multisourcedata.judul);
        formData.append("jumlah", this.multisourcedata.jumlah);
        formData.append("tgl", this.dateToString(this.mostatusdata.tgl));
        formData.append("_method", "PUT");
        this.updateUploadApi(
          "multisource",
          formData,
          this.$store.getters.getActiveData.id
        );
      } else if (this.$route.params.title === "improvement") {
        let formData = new FormData();
        formData.append("judul", this.improvementdata.judul);
        formData.append("jumlah", this.improvementdata.jumlah);
        formData.append("tgl", this.dateToString(this.mostatusdata.tgl));
        formData.append("_method", "PUT");
        this.updateUploadApi(
          "improvement",
          formData,
          this.$store.getters.getActiveData.id
        );
      } else if (this.$route.params.title === "patrol") {
        let formData = new FormData();
        formData.append("nama", this.patroldata.nama);
        formData.append("tgl", this.dateToString(this.mostatusdata.tgl));
        formData.append("_method", "PUT");
        this.updateUploadApi(
          "patrol",
          formData,
          this.$store.getters.getActiveData.id
        );
      } else if (this.$route.params.title === "agenda") {
        let formData = new FormData();
        formData.append("judul", this.agendadata.judul);
        formData.append("tgl", this.dateToString(this.agendadata.tgl));
        formData.append("_method", "PUT");
        this.updateUploadApi(
          "agenda",
          formData,
          this.$store.getters.getActiveData.id
        );
      } else if (this.$route.params.title === "safetyaward") {
        let formData = new FormData();
        formData.append("nama", this.awarddata.nama);
        formData.append("aktif", this.awarddata.aktif);
        formData.append("_method", "PUT");
        formData.append(
          "gambar",
          await this.toBase64(this.$refs.gambar.files[0])
        );
        this.updateUploadApi(
          "award",
          formData,
          this.$store.getters.getActiveData.id
        );
      }
      this.$router.push("/admin/" + this.$route.params.title + "/list");
    }
  },
  computed: {
    getTitle() {
      return "EDIT " + this.$store.getters.getChartTitle;
    }
  }
};
</script>
<style lang="sass" scoped>
  $primaryColor : #00B2FF
  $secondaryColor: #848484
  $backgroundColor : #EDEDED
  $shadowColor : #CCCCCC
  $white : #FFFFFF
  div
    text-align: left
    h2
      color: $secondaryColor
      text-transform: uppercase
      text-align: center
      margin-bottom: 50px
  #form
    div
      width: 50%
      display: inline-block
    label
      text-align: left
      display: block
      color: $secondaryColor
      font-size: 10pt
    input
      width: 90%
      border-radius: 5px
      border-style: solid
      border-width: 2px
      margin-bottom: 10px
      font-size: 10pt
      padding: 10px
      border-color: $backgroundColor
      &[type='radio']
        width: 30px
    button
      margin-top: 50px
      margin-left: auto
      margin-right: auto
      display: block
      background-color: $primaryColor
      padding: 10px
      color: $white
      text-transform: uppercase
      border-radius: 10px
      border-style: none
      font-size: 11pt
      width: 300px
      cursor: pointer
      letter-spacing: 2px
  #breadcumbs
    margin-left: -40px
    li
      display: inline-block
      list-style: none
      margin-right: 5px
      cursor: pointer
      color: $secondaryColor
      &:first-child
        font-weight: bold
      &:after
        content: '\/'
        font-weight: normal
      &:last-child:after
        content: ''
</style>
<style lang="sass">
  $backgroundColor : #EDEDED
  .tgl-div
    width: 100% !important
    .tgl
      width: 95%
      border-radius: 5px
      border-style: solid
      border-width: 2px
      margin-bottom: 10px
      font-size: 10pt
      padding: 10px
      border-color: $backgroundColor
</style>
