<template>
  <div>
    <div id="titlebar">
      <h2>{{ getTitle }}</h2>
      <div id="import" v-show="false">
        <input type="file" ref="excel" v-on:change="handleFileUpload" />
      </div>
      <ul id="buttons">
        <li
          v-bind:key="button.title"
          v-for="button in buttons"
          :color="button.color"
          v-on:click="doAction(button.title)"
        >
          <i>
            <font-awesome-icon :icon="button.icon" />
          </i>
          {{button.title}}
        </li>
      </ul>
      {{ refreshData }}
      <div id="content">
        <table>
          <thead>
            <tr v-if="$route.params.title == 'penerimaan'">
              <th>tanggal</th>
              <th>nilai</th>
              <th>satuan</th>
              <th>tampilkan</th>
            </tr>
            <tr v-if="$route.params.title == 'turnoverratio'">
              <th>tanggal</th>
              <th>nilai</th>
              <th>satuan</th>
              <th>tampilkan</th>
            </tr>
            <tr v-if="$route.params.title == 'pengeluaran'">
              <th>tanggal</th>
              <th>nilai</th>
              <th>satuan</th>
              <th>tampilkan</th>
            </tr>
            <tr v-if="$route.params.title == 'servicelevel'">
              <th>tanggal</th>
              <th>nilai</th>
              <th>satuan</th>
              <th>tampilkan</th>
            </tr>
            <tr v-if="$route.params.title == 'persediaan'">
              <th>tanggal</th>
              <th>kategori</th>
              <th>nilai</th>
              <th>satuan</th>
              <th>tampilkan</th>
            </tr>
            <tr v-if="$route.params.title == 'issuing'">
              <th>no surat</th>
              <th>no item</th>
              <th>nama material</th>
              <th>hub. dokumen</th>
              <th>subyek</th>
              <th>to</th>
              <th>surat sebelumnya</th>
              <th>tampilkan</th>
            </tr>
            <tr v-if="$route.params.title == 'mostatus'">
              <th>judul</th>
              <th>jumlah</th>
              <th>tanggal</th>
            </tr>
            <tr v-if="$route.params.title == 'multisource'">
              <th>judul</th>
              <th>jumlah</th>
              <th>tanggal</th>
            </tr>
            <tr v-if="$route.params.title == 'improvement'">
              <th>judul</th>
              <th>jumlah</th>
              <th>tanggal</th>
            </tr>
            <tr v-if="$route.params.title == 'patrol'">
              <th>nama</th>
              <th>tanggal</th>
            </tr>
            <tr v-if="$route.params.title == 'agenda'">
              <th>judul</th>
              <th>tanggal</th>
            </tr>
            <tr v-if="$route.params.title == 'safetyaward'">
              <th>nama</th>
              <th>tampilkan</th>
            </tr>
          </thead>
          <tbody v-if="$route.params.title == 'penerimaan'">
            <tr v-bind:key="data.id" v-for="data in dataset" v-on:click="showDetail(data.id)">
              <td>{{ data.tgl }}</td>
              <td>{{ data.nilai }}</td>
              <td>{{ data.satuan }}</td>
              <td>
                <span v-if="data.show == true" class="success">YA</span>
                <span v-if="data.show == null" class="success">YA</span>
                <span v-if="data.show == false" class="danger">TIDAK</span>
              </td>
            </tr>
          </tbody>
          <tbody v-if="$route.params.title == 'turnoverratio'">
            <tr v-bind:key="data.id" v-for="data in dataset" v-on:click="showDetail(data.id)">
              <td>{{ data.tgl }}</td>
              <td>{{ data.nilai }}</td>
              <td>{{ data.satuan }}</td>
              <td>
                <span v-if="data.show == true" class="success">YA</span>
                <span v-if="data.show == null" class="success">YA</span>
                <span v-if="data.show == false" class="danger">TIDAK</span>
              </td>
            </tr>
          </tbody>
          <tbody v-if="$route.params.title == 'persediaan'">
            <tr v-bind:key="data.id" v-for="data in dataset" v-on:click="showDetail(data.id)">
              <td>{{ data.tgl }}</td>
              <td>{{ data.kategori }}</td>
              <td>{{ data.nilai }}</td>
              <td>{{ data.satuan }}</td>
              <td>
                <span v-if="data.show == true" class="success">YA</span>
                <span v-if="data.show == null" class="success">YA</span>
                <span v-if="data.show == false" class="danger">TIDAK</span>
              </td>
            </tr>
          </tbody>
          <tbody v-if="$route.params.title == 'pengeluaran'">
            <tr v-bind:key="data.id" v-for="data in dataset" v-on:click="showDetail(data.id)">
              <td>{{ data.tgl }}</td>
              <td>{{ data.nilai }}</td>
              <td>{{ data.satuan }}</td>
              <td>
                <span v-if="data.show == true" class="success">YA</span>
                <span v-if="data.show == null" class="success">YA</span>
                <span v-if="data.show == false" class="danger">TIDAK</span>
              </td>
            </tr>
          </tbody>
          <tbody v-if="$route.params.title == 'servicelevel'">
            <tr v-bind:key="data.id" v-for="data in dataset" v-on:click="showDetail(data.id)">
              <td>{{ data.tgl }}</td>
              <td>{{ data.nilai }}</td>
              <td>{{ data.satuan }}</td>
              <td>
                <span v-if="data.show == true" class="success">YA</span>
                <span v-if="data.show == null" class="success">YA</span>
                <span v-if="data.show == false" class="danger">TIDAK</span>
              </td>
            </tr>
          </tbody>
          <tbody v-if="$route.params.title == 'issuing'">
            <tr v-bind:key="data.id" v-for="data in dataset" v-on:click="showDetail(data.id)">
              <td>{{ data.no_surat }}</td>
              <td>{{ data.no_item }}</td>
              <td>{{ data.nama_material }}</td>
              <td>{{ data.hub_dokumen }}</td>
              <td>{{ data.subyek }}</td>
              <td>{{ data.to }}</td>
              <td>{{ data.surat_sebelum }}</td>
              <td>
                <span v-if="data.show == true" class="success">YA</span>
                <span v-if="data.show == null" class="success">YA</span>
                <span v-if="data.show == false" class="danger">TIDAK</span>
              </td>
            </tr>
          </tbody>
          <tbody v-if="$route.params.title == 'mostatus'">
            <tr v-bind:key="data.id" v-for="data in dataset" v-on:click="showDetail(data.id)">
              <td>{{ data.judul }}</td>
              <td>{{ data.jumlah }}</td>
              <td>{{ data.tgl }}</td>
            </tr>
          </tbody>
          <tbody v-if="$route.params.title == 'multisource'">
            <tr v-bind:key="data.id" v-for="data in dataset" v-on:click="showDetail(data.id)">
              <td>{{ data.judul }}</td>
              <td>{{ data.jumlah }}</td>
              <td>{{ data.tgl }}</td>
            </tr>
          </tbody>
          <tbody v-if="$route.params.title == 'improvement'">
            <tr v-bind:key="data.id" v-for="data in dataset" v-on:click="showDetail(data.id)">
              <td>{{ data.judul }}</td>
              <td>{{ data.jumlah }}</td>
              <td>{{ data.tgl }}</td>
            </tr>
          </tbody>
          <tbody v-if="$route.params.title == 'patrol'">
            <tr v-bind:key="data.id" v-for="data in dataset" v-on:click="showDetail(data.id)">
              <td>{{ data.nama }}</td>
              <td>{{ data.tgl }}</td>
            </tr>
          </tbody>
          <tbody v-if="$route.params.title == 'agenda'">
            <tr v-bind:key="data.id" v-for="data in dataset" v-on:click="showDetail(data.id)">
              <td>{{ data.judul }}</td>
              <td>{{ data.tgl }}</td>
            </tr>
          </tbody>
          <tbody v-if="$route.params.title == 'safetyaward'">
            <tr v-bind:key="data.id" v-for="data in dataset" v-on:click="showDetail(data.id)">
              <td>{{ data.nama }}</td>
              <td>
                <span v-if="data.show == true" class="success">YA</span>
                <span v-if="data.show == null" class="success">YA</span>
                <span v-if="data.show == false" class="danger">TIDAK</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "AdminChartContentList",
  data() {
    return {
      buttons: [
        {
          title: "import",
          icon: "upload",
          color: "gray"
        },
        {
          title: "tambah",
          icon: "plus",
          color: "blue"
        }
      ],
      dataset: [
        {
          id: 1,
          tgl: "2018-12-05",
          kategori: null,
          nilai: "96",
          satuan: "%",
          show: true
        },
        {
          id: 2,
          tgl: "2018-12-06",
          kategori: null,
          nilai: "97",
          satuan: "%",
          show: false
        },
        {
          id: 3,
          tgl: "2018-12-07",
          kategori: null,
          nilai: "98",
          satuan: "%",
          show: true
        }
      ]
    };
  },
  methods: {
    showDetail(id) {
      if (this.$store.state.showDetail === false) {
        this.$store.commit("setActiveData", this.getDataById(id));
        this.$store.commit("setShowDetail", true);
      } else {
        this.$store.commit("setShowDetail", false);
      }
    },
    getDataById(id) {
      let data = this.$store.getters.getChartData;
      for (let i = 0; i < data.length; i++) {
        if (data[i].id === id) {
          return data[i];
        }
      }
      return [];
    },
    convertChartData() {
      let stored = this.$store.getters.getChartData;
      let res = [];
      for (let i = 0; i < stored.length; i++) {
        let local = {
          id: stored[i].id,
          tgl: this.parseDate(stored[i].tgl),
          kategori: stored[i].kategori,
          nilai: stored[i].nilai,
          satuan: stored[i].satuan,
          show: stored[i].is_shown
        };
        res.push(local);
      }
      return res;
    },
    convertData(chartType) {
      let stored = this.$store.getters.getChartData;
      let res = [];
      if (chartType == "issuing") {
        for (let i = 0; i < stored.length; i++) {
          let local = {
            id: stored[i].id,
            no_surat: stored[i].no_surat,
            no_item: stored[i].no_item,
            nama_material: stored[i].nama_material,
            hub_dokumen: stored[i].hub_dokumen,
            subyek: stored[i].subyek,
            to: stored[i].to,
            surat_sebelum: stored[i].surat_sebelum,
            show: stored[i].is_shown
          };
          res.push(local);
        }
      } else if (chartType == "mostatus") {
        for (let i = 0; i < stored.length; i++) {
          let local = {
            id: stored[i].id,
            judul: stored[i].judul,
            jumlah: stored[i].jumlah,
            tgl: this.parseDate(stored[i].created_at)
          };
          res.push(local);
        }
      } else if (chartType == "multisource") {
        for (let i = 0; i < stored.length; i++) {
          let local = {
            id: stored[i].id,
            judul: stored[i].judul,
            jumlah: stored[i].jumlah,
            tgl: this.parseDate(stored[i].created_at)
          };
          res.push(local);
        }
      } else if (chartType == "improvement") {
        for (let i = 0; i < stored.length; i++) {
          let local = {
            id: stored[i].id,
            judul: stored[i].judul,
            jumlah: stored[i].jumlah,
            tgl: this.parseDate(stored[i].created_at)
          };
          res.push(local);
        }
      } else if (chartType == "patrol") {
        for (let i = 0; i < stored.length; i++) {
          let local = {
            id: stored[i].id,
            nama: stored[i].nama,
            tgl: this.parseDate(stored[i].created_at)
          };
          res.push(local);
        }
      } else if (chartType == "agenda") {
        for (let i = 0; i < stored.length; i++) {
          let local = {
            id: stored[i].id,
            judul: stored[i].judul,
            tgl: this.parseDate(stored[i].created_at)
          };
          res.push(local);
        }
      } else if (chartType == "safetyaward") {
        for (let i = 0; i < stored.length; i++) {
          let local = {
            id: stored[i].id,
            nama: stored[i].nama,
            show: stored[i].aktif
          };
          res.push(local);
        }
      }
      return res;
    },
    convertIssuingData() {
      let stored = this.$store.getters.getChartData;
      let res = [];
      for (let i = 0; i < stored.length; i++) {
        let local = {
          id: stored[i].id,
          no_surat: stored[i].no_surat,
          no_item: stored[i].no_item,
          nama_material: stored[i].nama_material,
          hub_dokumen: stored[i].hub_dokumen,
          subyek: stored[i].subyek,
          to: stored[i].to,
          surat_sebelum: stored[i].surat_sebelum,
          show: stored[i].is_shown
        };
        res.push(local);
      }
      return res;
    },
    chartTypeToEndpoint(val) {
      switch (val) {
        case "issuing":
          return "issuingletter";
        case "mostatus":
          return "mostatus";
        case "multisource":
          return "multisource";
        case "improvement":
          return "improvement";
        case "patrol":
          return "patrol";
        case "agenda":
          return "agenda";
        case "safetyaward":
          return "award";
      }
    },
    async getData() {
      let chartType = this.$store.getters.getChartType;
      if (
        chartType === "issuing" ||
        chartType === "mostatus" ||
        chartType === "multisource" ||
        chartType === "improvement" ||
        chartType == "patrol" ||
        chartType == "agenda" ||
        chartType == "safetyaward"
      ) {
        let data = await this.getIssuingApi(
          this.chartTypeToEndpoint(chartType)
        );
        this.$store.commit("setChartData", data);
        this.dataset = this.convertData(chartType);
      } else {
        let data = await this.getChartApi("chart", chartType, true);
        console.log(data);
        this.$store.commit("setChartData", data);
        this.dataset = this.convertChartData();
      }
    },
    doAction(title) {
      if (title === "import") {
        this.$refs.excel.click();
      } else if (title === "tambah") {
        this.$router.push("/admin/" + this.$route.params.title + "/add");
      } else if (title === "upload") {
        this.uploadFile();
      }
    },
    handleFileUpload() {
      this.buttons[0].title = "upload";
      this.buttons[0].color = "blue";
    },
    uploadFile() {
      let formData = new FormData();
      formData.append("excel", this.$refs.excel.files[0]);
      let chartType = this.$store.getters.getChartType;
      if (chartType === "issuing") {
        this.uploadApi("issuingletter", formData).then(() => {
          this.buttons[0].title = "import";
          this.buttons[0].color = "gray";
          this.$store.commit("setRefreshData", false);
          this.$store.commit("setRefreshData", true);
        });
      } else {
        this.uploadApi("chart", formData).then(() => {
          this.buttons[0].title = "import";
          this.buttons[0].color = "gray";
          this.$store.commit("setRefreshData", false);
          this.$store.commit("setRefreshData", true);
        });
      }
    }
  },
  computed: {
    getTitle() {
      return this.$store.getters.getChartTitle;
    },
    refreshData() {
      if (this.$store.getters.getRefreshData === true) this.getData();
      return "";
    }
  },
  mounted() {
    this.getData();
    this.dataset = this.convertChartData();
  }
};
</script>
<style lang="sass" scoped>
  $primaryColor : #00B2FF
  $secondaryColor: #848484
  $backgroundColor : #EDEDED
  $shadowColor : #CCCCCC
  $white : #FFFFFF
  div
    text-align: left
    h2
      color: $secondaryColor
      text-transform: uppercase
    #buttons
      position: absolute
      top: 20px
      right: 20px
      li
        list-style: none
        display: inline-block
        background-color: $primaryColor
        padding: 10px
        margin-right: 10px
        border-radius: 10px
        color: $white
        cursor: pointer
        &[color=gray]
          background-color: $backgroundColor
          color: $secondaryColor
    table
      width: 100%
      border-spacing: 0px
      margin-top: 20px
      tr
        th
          background-color: #cccccc
          padding: 8px
          text-align: center
          text-transform: uppercase
        td
          border-style: solid
          border-color: #dddddd
          border-width: 1px
          padding: 0px
          padding-left: 10px
          padding-right: 10px
          text-align: left
          span
            padding: 5px
            margin: 0 auto
          &.success
            background-color: green
          &.danger
            background-color: red
        &:nth-child(2n+1)
          td
            background-color: #efefef
</style>
