<template>
  <div id="award">
    <h3>Karyawan Tersafety Bulan Ini</h3>
    <div v-bind:key="item.id" v-for="item in this.$props.data">
      <img v-bind:src="item.gambar" alt="winner" />
      <b>{{item.nama}}</b>
    </div>
  </div>
</template>
<script>
export default {
  name: "award",
  props: {
    data: Array
  }
};
</script>
<style lang="scss" scoped>
#award {
  width: 100%;
  border-spacing: 4px;
  div {
    img {
      height: 190px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    b {
      margin-top: 16px;
      display: block;
    }
  }
}
</style>
