<template>
  <div>
    <h2>{{ getTitle }}</h2>
    <div id="container">
      <highcharts :options="getOptions"></highcharts>
    </div>
  </div>
</template>
<script>
import Vue from 'vue'
import VueHighcharts from 'vue-highcharts'

Vue.use(VueHighcharts)

export default {
  name: 'ChartColumn',
  props: ['property', 'height'],
  computed: {
    getTitle: function () {
      let formattedTitle = this.property.title.toUpperCase()
      if (this.property.hideTitle === true) {
        formattedTitle = ''
      }
      return formattedTitle
    },
    getOptions: function () {
      let options = {
        chart: {
          type: 'column'
        },
        title: {
          text: ''
        },
        xAxis: {
          categories: ['Apples', 'Bananas', 'Oranges']
        },
        yAxis: {
          title: {
            text: 'Jumlah'
          }
        },
        series: [{
          name: 'Penerimaan',
          data: [1, 0, 4]
        }, {
          name: 'Pengeluaran',
          data: [5, 7, 3]
        }]
      }
      options.xAxis.categories = this.property.categories
      options.series[0].name = this.property.col1Name
      options.series[1].name = this.property.col2Name
      options.series[0].data = this.property.col1Data
      options.series[1].data = this.property.col2Data
      if (this.property.height != null) {
        options.chart.height = this.property.height
      } else {
        options.chart.height = 250
      }
      return options
    }
  }
}
</script>
<style lang="sass" scoped>
  h2
    margin: 0px
    text-align: left
    margin-bottom: 20px
    color: #0098FF
</style>
