<template>
  <div>
    <h2>{{ getFormattedTitle }}</h2>
    <i>{{ getFormattedStartDate }} - {{ getFormattedEndDate }}</i>
    <h1>{{ property.value }}</h1>
  </div>
</template>
<script>
export default {
  name: 'ChartNumber',
  props: ['property'],
  computed: {
    getFormattedTitle: function () {
      return this.property.title.toUpperCase()
    },
    getFormattedStartDate: function () {
      return parseDate(this.property.startDate)
    },
    getFormattedEndDate: function () {
      return parseDate(this.property.endDate)
    }
  }
}

function parseDate (ISODate) {
  let d = new Date(ISODate)
  let months = ['Jan', 'Feb', 'Mar', 'Apr', 'Mei', 'Jun', 'Jul', 'Agu', 'Sep', 'Okt', 'Nov', 'Des']
  return d.getDate() + ' ' + months[d.getMonth()] + ' ' + d.getFullYear()
}
</script>
<style lang="sass" scoped>
  div
    text-align: left
    i
      font-style: normal

    h2
      margin: 0px
      color: #0098FF

    h1
      text-align: center
      font-size: 50pt
      font-weight: 400
      margin: 70px
      color: #0098FF
</style>
