<template>
  <div>
    <table>
      <thead>
        <tr>
          <th>JUDUL</th>
          <th>TANGGAL</th>
          <th>NILAI</th>
          <th>SATUAN</th>
        </tr>
      </thead>
      <tbody>
        <tr v-bind:key="datum.id" v-for="datum in data">
          <td>{{ datum.judul }}</td>
          <td>{{ parseDate(datum.tgl) }}</td>
          <td>{{ datum.nilai }}</td>
          <td>{{ datum.satuan }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
export default {
  name: 'ChartTable',
  data () {
    return {
      data: this.$store.getters.getChartData
    }
  }
}
</script>
<style lang="sass" scoped>
  table
    width: 100%
    border-spacing: 0px
    margin-top: 20px
    tr
      th
        background-color: #cccccc
        padding: 8px
      td
        border-style: solid
        border-color: #dddddd
        border-width: 1px
        padding: 8px
        text-align: left
      &:nth-child(2n+1)
        td
          background-color: #efefef
</style>
