<template>
  <div>
    <h2>{{ getTitle }}</h2>
    <div id="container">
      <highcharts :options="getOptions"></highcharts>
    </div>
  </div>
</template>
<script>
import Vue from 'vue'
import VueHighcharts from 'vue-highcharts'
import Highcharts from 'highcharts'
import loadSolidGauge from 'highcharts/modules/solid-gauge'
import loadHighchartsMore from 'highcharts/highcharts-more'
loadHighchartsMore(Highcharts)
loadSolidGauge(Highcharts)

Vue.use(VueHighcharts, { Highcharts })

export default {
  name: 'ChartGauge',
  props: ['property'],
  computed: {
    getOptions: function () {
      let options = {
        chart: {
          type: 'gauge'
        },
        title: {
          text: ''
        },
        pane: {
          startAngle: -150,
          endAngle: 150
        },
        yAxis: [{
          min: parseInt(this.property.minValue),
          max: parseInt(this.property.maxValue)
        }],
        series: [{
          data: [
            parseInt(this.property.value)
          ]
        }]
      }
      if (this.property.height != null) {
        options.chart.height = this.property.height
      } else {
        options.chart.height = 250
      }
      return options
    },
    getTitle: function () {
      let formattedTitle = this.property.title.toUpperCase()
      if (this.property.hideTitle === true) {
        formattedTitle = ''
      }
      return formattedTitle
    }
  }
}
</script>
<style lang="sass" scoped>
  h2
    margin: 0px
    text-align: left
    margin-bottom: 20px
    color: #0098FF

  #container
    margin-left: auto
    margin-right: auto
</style>
