<template>
  <div>
    <h2>{{ getTitle }}</h2>
    <div id="container">
      <highcharts :options="getOptions"></highcharts>
    </div>
  </div>
</template>
<script>
import Vue from 'vue'
import VueHighcharts from 'vue-highcharts'

Vue.use(VueHighcharts)

export default {
  name: 'ChartPie',
  props: ['property'],
  computed: {
    getOptions: function () {
      let options = {
        chart: {
          type: 'pie'
        },
        title: {
          text: ''
        },
        xAxis: {
          categories: ['Apples']
        },
        yAxis: {
          title: {
            text: 'Fruit eaten'
          }
        },
        series: [{
          name: 'Penerimaan',
          data: [0]
        }]
      }
      options.series[0].name = this.property.sliceName
      let option = generateSeries(options, this.property.keys, this.property.values)
      if (this.property.height != null) {
        option.chart.height = this.property.height
      } else {
        option.chart.height = 250
      }
      return option
    },
    getTitle: function () {
      let formattedTitle = this.property.title.toUpperCase()
      if (this.property.hideTitle === true) {
        formattedTitle = ''
      }
      return formattedTitle
    }
  }
}
function generateSeries (options, keys, values) {
  let res = []
  for (let i = 0; i < keys.length; i++) {
    let local = {
      y: values[i],
      name: keys[i]
    }
    res[i] = local
  }
  options.series[0].data = res
  return options
}
</script>
<style lang="sass" scoped>
  h2
    margin: 0px
    margin-bottom: 20px
    text-align: left
    color: #0098FF

  #container
    padding: 0px
    margin-left: auto
    margin-right: auto
    z-index: -10
</style>
