<template>
  <component :is="component" v-bind:property="data" v-if="component" />
</template>
<script>
export default {
  name: "DynamicChart",
  props: ["data", "type"],
  data() {
    return {
      component: null
    };
  },
  computed: {
    loader() {
      if (!this.type) {
        return null;
      }
      return () => import(`@/components/${this.type}`);
    }
  },
  mounted() {
    this.loader()
      .then(() => {
        this.component = () => this.loader();
      })
      .catch(() => {
        this.component = () => import("@/components/ChartEmpty");
      });
  }
};
</script>
