<template>
  <div>
    <table>
      <thead>
        <tr>
          <th>no surat</th>
          <th>no item</th>
          <th>nama material</th>
          <th>hub dokumen</th>
          <th>subyek</th>
          <th>to</th>
          <th>surat sebelumnya</th>
        </tr>
      </thead>
      <tbody>
        <tr v-bind:key="datum.id" v-for="datum in data">
          <td>{{ datum.no_surat }}</td>
          <td>{{ datum.no_item }}</td>
          <td>{{ datum.nama_material }}</td>
          <td>{{ datum.hub_dokumen }}</td>
          <td>{{ datum.subyek }}</td>
          <td>{{ datum.to }}</td>
          <td>{{ datum.surat_sebelum }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
export default {
  name: 'IssuingTable',
  props: {
    data: Array
  }
}
</script>
<style lang="sass" scoped>
  table
    width: 100%
    border-spacing: 0px
    margin-top: 20px
    tr
      th
        background-color: #cccccc
        padding: 8px
        text-transform: uppercase
      td
        border-style: solid
        border-color: #dddddd
        border-width: 1px
        padding: 8px
        text-align: left
      &:nth-child(2n+1)
        td
          background-color: #efefef
</style>
