<template>
  <div>
    <h3>MO Status SWH</h3>
    <table id="mostatus">
      <tbody>
        <tr v-bind:key="item.id" v-for="item in statuses">
          <td>{{ item.id }}</td>
          <td>{{ item.judul }}</td>
          <td>{{ item.jumlah }}</td>
        </tr>
      </tbody>
    </table>
    <table id="completeness">
      <thead>
        <tr>
          <th v-bind:key="item.id" v-for="item in completeness">
            {{ item.judul }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td v-bind:key="item.id" v-for="item in completeness">
            {{ item.jumlah }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
export default {
  name: "mostatus",
  props: {
    statuses: Array,
    completeness: Array
  }
};
</script>
<style lang="scss" scoped>
#mostatus {
  width: 100%;
  border-spacing: 0px;
  tbody {
    tr {
      td {
        text-align: left;
        border: 1px solid #777;
        padding: 4px;
        font-size: 10pt;
      }
    }
  }
}
#completeness {
  width: 100%;
  border-spacing: 0px;
  thead {
    tr {
      th {
        border: 1px solid #777;
        padding: 4px;
        font-size: 9pt;
      }
    }
  }
  tbody {
    tr {
      td {
        text-align: center;
        border: 1px solid #777;
        padding: 4px;
        font-size: 10pt;
      }
    }
  }
}
</style>
