<template>
  <div>
    <h3>MultiSource</h3>
    <table id="multisource">
      <tbody>
        <tr v-bind:key="item.id" v-for="item in this.$props.data">
          <td>{{ item.id }}</td>
          <td>{{ item.judul }}</td>
          <td>{{ item.jumlah }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
export default {
  name: "multisource",
  props: {
    data: Array
  }
};
</script>
<style lang="scss" scoped>
#multisource {
  width: 100%;
  border-spacing: 4px;
  tr {
    td {
      text-align: left;
    }
  }
}
</style>
