<template>
  <div>
    <h3>Jadwal Patrol</h3>
    <table id="patrol">
      <tbody>
        <tr v-bind:key="item.id" v-for="item in this.$props.data">
          <td>{{ item.id }}</td>
          <td>{{ item.nama }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
export default {
  name: "patrol",
  props: {
    data: Array
  }
};
</script>
<style lang="scss" scoped>
#patrol {
  width: 100%;
  border-spacing: 4px;
  tr {
    td {
      text-align: left;
    }
  }
}
</style>
